body {
  background-image: url(../images/backgroung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  color: white;
  font-family: monospace;
  font-size: 15px;
  text-align: center;
  list-style-position: inside;
}
.container {
  height: 100%;
  float: right;
  width: 70%;
  padding-bottom: 20px;
}
.about h1, h2, p {
  padding: 5px;
}
.sidebar {
  width: 30%;
  height: 100%;
  float: left;
  position: fixed;
  background-color: rgba(0,0,0,0.4);

}.sidebar h3 {
  position: fixed;
  top: 63%;
  left: 9%;
}
.sidebar img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 25%;
}
.projects {
  display: flex;
}
section {
  padding: 5px;
  width: 33.33%;
}
.projects ul {
  list-style-type: none;
}
.project-heading {
  padding-top: 20px;
}
.languages {
  font-weight: bold;
}
input {
  width: 60%;
} .submit-button {
  width: 20%;
}
